<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <% if settings.development? %>
    <script type="module" src="http://localhost:3036/vite-dev/entrypoints/application.js"></script>
    <% else %>
    <script type="module" src="<%= vite_asset_path('application.js') %>"></script>
    <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
